{# templates/blog/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Agenda{% endblock %}

{% block body %}
    <section class="tm-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-xs-center">
                    <h1 class="tm-gold-text tm-title tm-teaser">"Construire l'avenir plutôt que chercher à le prédire"</h1>
                    <p class="tm-subtitle">L’Atelier de Claret est un « Tiers lieu » ou espace coopératif à la fois lieu de travail partagé (Coworking), espace de fabrication numérique (FabLab et/ou Maker Place) et plateforme de formation favorisant l'esprit entrepreneurial, la création d’activités, l’employabilité par l'innovation. Il organise des évènements et des formations dans les domaines du numérique et des nouvelles technologies et/ou sur des thématiques innovantes et éco-responsables avec une promesse : "Construire l'avenir plutôt que chercher à le prédire" »
                    </p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}