{# templates/blog/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Fablab{% endblock %}

{% block body %}
    <section class="tm-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">

                    <div class="tm-content-box">
                        <img src="{{ asset('img/logo/logo-fablab.png')}}" alt="Image" class="tm-margin-b-20 img-fluid">
                        <h4 class="tm-margin-b-20 tm-gold-text">FabLab</h4>
                        <p class="tm-margin-b-20">
                            Un laboratoire de fabrication numérique ou "Fablab" :<br>
                            Un laboratoire de fabrication numérique coopératif qui organise des événements, des ateliers et des formations utilisant le numérique et les nouvelles technologies.
                        </p>
                        <a href="#" class="tm-btn text-uppercase">Read More</a>
                    </div>

                </div>

            </div>
        </div>
    </section>
{% endblock %}