{# templates/blog/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Formation{% endblock %}

{% block body %}
    <section class="tm-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">

                    <div class="tm-content-box">
                        <img src="{{ asset('img/logo/logo-formation.png')}}" alt="Image" class="tm-margin-b-20 img-fluid">
                        <h4 class="tm-margin-b-20 tm-gold-text">Formation</h4>
                        <p class="tm-margin-b-20">
                            Une plateforme d'outils de formation innovants ou "Digital Learning" :<br>
                            Une plateforme d'outils de formation et une passerelle vers l'appropriation du numérique et des technologies de demain.
                        </p>
                        <a href="#" class="tm-btn text-uppercase">Detail</a>
                    </div>

                </div>
            </div>
        </div>
    </section>
{% endblock %}